<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/chapter01_thymeleaf/layout/portfolioPractice/layout1.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content1">
		<!-- Hero Search Section Begin -->
		<div class="hero-search set-bg" data-setbg="/portfolioPractice_template1/img/search-bg.jpg">
			<div class="container">
				<div class="filter-table">
					<form action="#" class="filter-search">
						<input type="text" placeholder="Detail"> <select
							id="category">
							<option value="basic">Category</option>
							<option value="food">Food</option>
							<option value="dessert">Dessert</option>
							<option value="other">Other</option>
						</select> <select id="tag">
							<option value="basic">Location</option>
							<option value="광주">성수점</option>
							<option value="광주">광주점</option>
							<!--tag는 지역 00점인데 일단 웹에서 지원하는 지역만 넣어놓자-->
						</select>
						<button type="submit">Search</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Hero Search Section End -->

		<!-- Recipe Section Begin -->
		<section class="recipe-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/bd버거_성수점.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Food</div>
								<!--위에 카테고리에 맞게-->
								<div class="cat-name">성수점</div>
								<a href="#"> <!--맛집 이름 누르면 게시물 볼 수 있게-->
									<h4>bd버거 성수</h4>
								</a>
								<p>
									위치 : 서울 성동구 성수이로14길 7 2층 bd버거 <br> 영업 시간 : 11:30 - 21:15
									15:15 - 16:30 브레이크
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-2.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Dessert</div>
								<a href="#">
									<h4>Blueberries cake</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-3.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Pork Steak with Onion</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-4.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Pizza with salami</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-5.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Pumpkin Chilli Soup</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-6.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Salmon with veggies</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-7.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Strawberry Chessecake</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-8.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Key Lime Pie</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="recipe-item">
							<a href="#"><img src="/portfolioPractice_template1/img/recipe/recipe-9.jpg" alt=""></a>
							<div class="ri-text">
								<div class="cat-name">Desert</div>
								<a href="#">
									<h4>Pizza with cheesse</h4>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="recipe-pagination">
							<a href="#" class="active">01</a> <a href="#">02</a> <a href="#">03</a>
							<a href="#">04</a> <a href="#">Next</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Recipe Section End -->

	</div>
</body>
</html>