<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/chapter01_thymeleaf/layout/portfolioPractice/layout2.html}">
<head>
<meta charset="UTF-8">
<title>Recommend</title>
</head>
<body>
	<div layout:fragment="content2">
		<!-- Categories Section Begin -->
		<section class="categories categories-grid spad">
			<div class="categories__post">
				<div class="container">
					<div class="categories__grid__post">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<div class="breadcrumb__text">
									<h2>
										This Month's Title: <span>Health</span>
									</h2>
									<div class="breadcrumb__option">
										<a href="#">Home</a> <span>Recommend</span>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-1.jpg">
												<!--단순히 이미지를 넣을 수가 없는거 같음-->
												<div class="post__meta">
													<h4>04</h4>
													<span>Apr</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<span class="post__label">Recipe</span>
												<h3>
													<a href="#">매일의 비건 집밥, 비건 한식 레시피</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>100 min read</li>
													<li>5 Comment</li>
												</ul>
												<p>
													채식 인구 200만 명 시대. 더 쉽고, 맛있고, 다채로운 ‘비건 한식’ 레시피가 필요하다.<br>
													채소와 식물성 재료만으로 만드는 일품요리는 물론 반찬, 만능 소스, 주전부리까지.<br> 사찰
													음식 전문가 정재덕 셰프의 누구나 따라 할 수 있는 비건 밥상 레시피를 소개한다.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-2.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<ul class="post__label--large">
													<li>Vegan</li>
													<li>Desserts</li>
												</ul>
												<h3>
													<a href="#">The Best Grass Stain Remover Is Already In
														Your Pantry</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-3.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<span class="post__label">Drinks</span>
												<h3>
													<a href="#">A 5-Minute Peach Mug Cobbler That Just So
														Happens to...</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-4.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<span class="post__label">Smoothie</span>
												<h3>
													<a href="#">This 2-Ingredient Spread Makes Any Egg
														Sandwich So Much Better</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-5.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<span class="post__label">Dinner</span>
												<h3>
													<a href="#">17 Perfect Gifts for Your Vegan Friend
														Because Sometimes...</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-6.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<span class="post__label">Dinner</span>
												<h3>
													<a href="#">A 5-Minute Peach Mug Cobbler That Just So
														Happens to...</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-7.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<ul class="post__label--large">
													<li>Vegan</li>
													<li>Desserts</li>
												</ul>
												<h3>
													<a href="#">Fresh Herb Polenta with Parsnip Chips and
														Maple Butter</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="categories__list__post__item">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__pic set-bg"
												data-setbg="/portfolioPractice_template2/img/categories/categories-list/cl-7.jpg">
												<div class="post__meta">
													<h4>08</h4>
													<span>Aug</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="categories__post__item__text">
												<ul class="post__label--large">
													<li>Vegan</li>
													<li>Desserts</li>
												</ul>
												<h3>
													<a href="#">Fresh Herb Polenta with Parsnip Chips and
														Maple Butter</a>
												</h3>
												<ul class="post__widget">
													<li>by <span>Admin</span></li>
													<li>3 min read</li>
													<li>20 Comment</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing
													elit, sed do eiusmod tempor incididunt dolore magna aliqua.
													Quis ipsum suspendisse ultrices gravida...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="categories__pagination">
											<a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a
												href="#">Next</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Add other columns or sections if needed -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Categories Section End -->
	</div>
</body>
</html>