<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/chapter01_thymeleaf/layout/portfolioPractice/layout2.html}">
<head>
<meta charset="UTF-8">
<title>Recommend 단일 Post</title>
</head>
<body>
	<div layout:fragment="content2">
		<!-- Single Post Section Begin -->
		<section class="single-post spad">
			<div class="single-post__hero set-bg"
				data-setbg="/portfolioPractice_template2/img/categories/single-post/single-post-hero.jpg"></div>
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8">
						<div class="single-post__title">
							<div class="single-post__title__meta">
								<h2>04</h2>
								<span>Apr</span>
							</div>
							<div class="single-post__title__text">
								<ul class="label">
									<li>Food</li>
									<li>Vegan</li>
								</ul>
								<h4>감자옹심이 칼국수</h4>
								<ul class="widget">
									<li>by Admin</li>
									<li>1000 min read</li>
									<li>25 Comment</li>
								</ul>
							</div>
						</div>
						<div class="single-post__social__item">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
						<div class="single-post__top__text">
							<p>“쫄깃한 감자 옹심이의 식감이 매력적인 메뉴예요. 감자는 강판에 가는 것이 식감을 더 살릴 수 있지만
								번거롭다면 푸드 프로세서를 사용해도 괜찮아요.</p>
						</div>
						<div class="single-post__recipe__details">
							<div class="single-post__recipe__details__option">
								<ul>
									<li>
										<h5>
											<i class="fa fa-user-o"></i> SERVES
										</h5> <span>2 as a main</span>
									</li>
									<li>
										<h5>
											<i class="fa fa-clock-o"></i> PREP TIME
										</h5> <span>15 minutes</span>
									</li>
									<li>
										<h5>
											<i class="fa fa-clock-o"></i> Cook TIME
										</h5> <span>45 minutes</span>
									</li>

								</ul>
							</div>
							<div class="single-post__recipe__details__indegradients">
								<h5>준비 재료</h5>
								<ul>

									<li>생칼국수면 175g</li>
									<li>감자 3개</li>
									<li>애호박 1/3개</li>
									<li>당근 1/7개</li>
									<li>쑥갓 약간</li>
									<li>소금 1/2 작은술</li>
									<li>국간장 1큰술</li>
									<li>채수 물 7컵, 슬라이스 건표고버섯 ⅔컵 또는 건표고버섯 3~5개, 다시마5×5cm 5장</li>

								</ul>
							</div>
							<div class="single-post__recipe__details__direction">
								<h5>따라해보기</h5>
								<ul>
									<li><span>1.</span> 냄비에 채수 재료를 넣고 센불에서 끓어오르면 다시마를 건진 후 약불로
										줄여 10분간 더 끓인다 다시마는 버리지 않고 따로 덜어둔다.</li>
									<li><span>2.</span> 감자는 필러로 껍질을 벗긴 후 강판또는 푸드 프로세서로 간다.</li>
									<li><span>3.</span> 면포에 감자 간 것을 넣고 물기를 꽉 짠 후 물과 건더기를 따로
										둔다.</li>
									<li><span>4.</span> ③의 물은 20분간 가만히 두어 전분을 가라앉히고 웃물은 버린다.</li>
									<li><span>5.</span> 애호박, 당근, 채수에서 건진 다시마는 0.3cm 두께로 채 썬다.</li>
									<li><span>6.</span> 볼에 ④의 가라앉힌 전분, 감자 건더기, 소금을 넣고 잘 섞어
										치댄다.</li>
									<li><span>7.</span> 지름 2cm 크기로 동그랗게 꼭꼭 뭉쳐 옹심이를 만든다.</li>
									<li><span>8.</span> 끓는 물에 칼국수면을 넣고 센불에서 30초간 데친다.</li>
									<li><span>9.</span> ①의 채수를 센불에서 끓이고, 끓어오르면 옹심이를 넣고 2분,
										칼국수면을 넣고 3~4분, ⑤의 재료, 소금, 국간장을 넣고 1분간 더 끓인다.</li>
									<li><span>10.</span> 그릇에 담고 쑥갓을 올린다.</li>
								</ul>
							</div>
						</div>
						<div class="single-post__middle__text">
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
								laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate velit esse cillum dolore eu
								fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in. . Sed ut perspiciatis unde omnis iste natus
								error sit voluptatem.</p>
						</div>
						<div class="single-post__quote">
							<p>The whole family of tiny legumes, whether red, green,
								yellow, or black, offers so many possibilities to create an
								exciting lunch.</p>
							<span>MEIKE PETERS</span>
						</div>
						<div class="single-post__desc">
							<p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute
								irure Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<h4>You Can Buy For Less Than A College Degree</h4>
							<p>Dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia</p>
						</div>
						<div class="single-post__more__details">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<img src="/portfolioPractice_template2/img/categories/single-post/single-post-desc.jpg"
										alt="">
								</div>
								<div class="col-lg-6 col-md-6">
									<p>Vestibulum commodo nulla eu augue tincidunt rutrum.
										Suspendisse interdum lacus in ligula finibus luctus. Vivamus
										mollis libero vel orci finibus, sit amet malesuada lectus
										aliquam. In auctor viverra eros. Maecenas elit mi, dictum et
										consectetur nec, sollicitudin sed arcu.</p>
									<p>Curabitur tempor tempor pharetra.Sed imperdiet sem at
										nunc luctus, sed cursus nulla mollis. Orci varius natoque
										penatibus et magnis dis parturient montes, nascetur ridiculus
										mus porta tincidunt, purus enim laoreet.</p>
									<p>Duis aute irure dolor inenim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo conslaboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure Lorem ipsum dolor sit amet, consectetur
										adipisicing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="single-post__last__text">
							<p>Totam rem aperiam, eaque ipsa quae ab illo inventore
								veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
								aut fugit. Sed quia consequuntur magni dolores eos qui ratione
								voluptatem sequi nesciunt tempora incidunt ut labore quia non
								numquam eius modi.</p>
							<p>Class aptent taciti sociosqu ad litora torquent per
								conubia nostra, per inceptos himenaeos. Mauris vel magna ex.
								Integer gravida tincidunt accumsan. Vestibulum nulla mauris,
								condimentum id felis ac, volutpat volutpat mi. In vitae tempor
								velit of the impenetrable foliage quisquam est, qui dolorem
								ipsum quia dolor sit amet consectetur adipisci.</p>
						</div>
						<div class="single-post__tags">
							<a href="#">Food</a> <a href="#">Vegan</a> <a href="#">Potato</a>
							<a href="#">Weightloss</a>
						</div>
						<div class="single-post__next__previous">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<a href="#" class="single-post__previous">
										<h6>
											<span class="arrow_carrot-left"></span> Previous posts
										</h6>
										<div class="single-post__previous__meta">
											<h4>08</h4>
											<span>Aug</span>
										</div>
										<div class="single-post__previous__text">
											<span>Dinner</span>
											<h5>
												The Best Weeknight Baked <br />Potatoes, 3 Creative Ways
											</h5>
										</div>
									</a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<a href="#" class="single-post__next">
										<h6>
											Next posts <span class="arrow_carrot-right"></span>
										</h6>
										<div class="single-post__next__meta">
											<h4>05</h4>
											<span>Aug</span>
										</div>
										<div class="single-post__next__text">
											<span>Smoothie</span>
											<h5>
												The $8 French Rosé I Buy in <br />Bulk Every Summer
											</h5>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="single-post__author__profile">
							<div class="single-post__author__profile__pic">
								<img src="/portfolioPractice_template2/img/categories/single-post/author-profile.jpg" alt="">
							</div>
							<div class="single-post__author__profile__text">
								<h4>sisajournal - e</h4>
								<p>
									editor 장세현 <br> photograpter 레시피팩토리 @recipefactory
								</p>
								<div class="single-post__author__profile__social">
									<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
										class="fa fa-twitter"></i></a> <a href="#"><i
										class="fa fa-google-plus"></i></a> <a href="#"><i
										class="fa fa-instagram"></i></a> <a href="#"><i
										class="fa fa-youtube-play"></i></a>
								</div>
							</div>
						</div>
						<div class="single-post__comment">
							<div class="widget__title">
								<h4>03 Comment</h4>
							</div>
							<div class="single-post__comment__item">
								<div class="single-post__comment__item__pic">
									<img src="/portfolioPractice_template2/img/categories/single-post/comment/comment-1.jpg"
										alt="">
								</div>
								<div class="single-post__comment__item__text">
									<h5>Brandon Kelley</h5>
									<span>15 Aug 2017</span>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor
										sit amet, consectetur, adipisci velit, sed quia non numquam
										eius modi tempora incidunt ut labore et dolore magnam.</p>
									<ul>
										<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
										<li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div
								class="single-post__comment__item single-post__comment__item--reply">
								<div class="single-post__comment__item__pic">
									<img src="/portfolioPractice_template2/img/categories/single-post/comment/comment-2.jpg"
										alt="">
								</div>
								<div class="single-post__comment__item__text">
									<h5>Brandon Kelley</h5>
									<span>15 Aug 2017</span>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor
										sit amet, consectetur, adipisci velit, sed quia non numquam
										eius modi tempora incidunt ut labore et dolore magnam.</p>
									<ul>
										<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
										<li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-post__comment__item">
								<div class="single-post__comment__item__pic">
									<img src="/portfolioPractice_template2/img/categories/single-post/comment/comment-3.jpg"
										alt="">
								</div>
								<div class="single-post__comment__item__text">
									<h5>Brandon Kelley</h5>
									<span>15 Aug 2017</span>
									<p>Neque porro quisquam est, qui dolorem ipsum quia dolor
										sit amet, consectetur, adipisci velit, sed quia non numquam
										eius modi tempora incidunt ut labore et dolore magnam.</p>
									<ul>
										<li><a href="#"><i class="fa fa-heart-o"></i></a></li>
										<li><a href="#"><i class="fa fa-share-square-o"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="single-post__leave__comment">
							<div class="widget__title">
								<h4>Leave a comment</h4>
							</div>
							<form action="#">
								<div class="input-list">
									<input type="text" placeholder="Name"> <input
										type="text" placeholder="Email"> <input type="text"
										placeholder="Website">
								</div>
								<textarea placeholder="Message"></textarea>
								<button type="submit" class="site-btn">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Single Post Section End -->
	</div>
</body>
</html>