<!DOCTYPE html>

<!-- 

	- layout:decorate 속성은 현재 템플릿이 지정된 외부 레이아웃 파일(layout.html)로 '장식' 또는 '데코레이션'될 것임을 나타낸다. 
	
	- 현재 페이지의 콘텐츠는 레이아웃 템플릿에 정의된 구조 내에 삽입되어 사용되어진다.
	
	- ~{...} 구문은 Thymeleaf의 표준 표현식 중 하나로 리소스의 위치를 나타내며 해당 경로에 위치한 레이아웃 파일을 참조하고 있다. 
	   이 경로는 프로젝트의 구조에 따라 달라질 수 있으며 일반적으로 src/main/resources/templates 디렉토리 안에 위치한 파일을 참조한다.

 -->

<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/chapter01_thymeleaf/layout/ex/layout_sample.html}">
<head>
<meta charset="UTF-8">
<title>Thymeleaf Layout Content Sample</title>
</head>
<body>

	<!-- 
		
		layout:fragment="content" 부분에 해당 페이지의 고유 내용을 삽입하여 공통 레이아웃을 재사용할 수 있다.	
	
	 -->

	<div layout:fragment="content">
		화면 구성
	</div>	

</body>
</html>