<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>연습예제</title>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script>

	$().ready(function(){

		$("#answer").click(function(){
			
			let param = {
					
				"height" : $("[name='height']").val(),
				"withParent" : $("[name='withParent']:checked").val()
				
			}
			
			
			$.ajax({
				
				url : "/ajax/ex05_answerSample",
				type : "post",
				contentType : "application/json",
				data : JSON.stringify(param),
				success : function(result) {
					
					alert(result);
					if (result == "pass") {
						$("#result").html("<span style='color:green;'>놀이기구를 이용할 수 있습니다.</span>");
					}
					else {
						$("#result").html("<span style='color:red;'>놀이기구를 이용할 수 없습니다.</span>");
					}
					
				}
			});
			
		});
		
	});
	
</script>
</head>
<body>

	<!-- 
	
		# 놀이기구 이용제한
		
		 1. 키를 입력받고 부모와 동행여부를 선택한다.
		 
		 2. 입력받은 키와 부모의 동행여부 데이터를 AJAX를 사용하여 /ajax/ex05_practice컨트롤러로 전송한다.
		 
		 3. 입력받은 키가 120.0 이상이면  "pass" 를 반환한다.  
		    키가 120.0 미만이면			  "reject" 를 반환한다.
		    단, 부모님과 함께 온 경우는   "pass" 를 반환한다.
		
		
		 4. pass가 반환된 경우 초록색 글씨로 '놀이기구를 이용할 수 있습니다.'
		    reject가 반환된 경우 빨간색 글씨로 '놀이기구를 이용할 수 없습니다.'를
		    <span id="result"></span>에 표시한다.
	
	 -->

	<div>
	
		<p>
			키 : <input type="text" name="height" /> <span id="result"></span>
		</p> 
		<p>부모님과 함께 왔나요? 
			<input type="radio" name="withParent" value="yes" /> Yes 
			<input type="radio" name="withParent" value="no" checked/> No 
		</p>
		<input type="button" id="answer" value="확인" />
	</div>



</body>
</html>