<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>연습예제</title>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script>

	$().ready(function(){
		
		$("#orderQty").change(function(){
			
			let param = {
					
				"orderQty" : $("#orderQty").val(),
				"productId" : $("#productId").val()
				
			}
			
			
			$.ajax({
				
				url : "/ajax/ex10_answerSample",
				type : "post",
				contentType : "application/json",
				data : JSON.stringify(param),
				success : function(result) {
					$("#msg").text(result);
				}
			
			});
			
		});	
		
	});
	
</script>
</head>
<body>

	<!-- 
		
		# 카트리스트 수정하기1
	
		1. 주문수량이 달라질 때 productId와 orderQty를 AJAX를 사용하여 /ajax/ex10_practice컨트롤러로 전송한다.
		
		2. UPDATE SQL을 반환한다.
		   UPDATE PRODUCT
		   SET	  ORDER_QTY = 'orderQty'
		   WHERE  PRODUCT_ID = 'productId'
		
		3. id가 msg인 엘리먼트에 SQL을 출력한다.
	
	 -->

	<h3>카트리스트</h3>
	<table border="1">
		<tr>
			<td>
				product1
				<input type="hidden" id="productId" value="product1">
			</td>
			<td>주문 수량
				<select id="orderQty">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</td>
		</tr>
	</table>
	<p>
		<span id="msg" style="color:green"></span>
	</p>
	
</body>
</html>