<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>연습예제</title>
</head>
<body>

	<!-- 
	
		# Get Map
	
		1. get Map 버튼을 클릭할 경우 AJAX를 사용하여 supposeDAO.getMap()데이터를 받아온다. 
		
		2.반환된 데이터를 테이블 형태로 <div id="result"></div>에 출력한다.
		
			예시)
			
			<table border='1'>
				<tr>
					<th>productId</th>
					<th>productNm</th>
					<th>brandId</th>
					<th>price</th>
					<th>deliveryPrice</th>
					<th>enrollDt</th>
					<th>addTax</th>
					<th>totalPrice</th>
					<th>brandNm</th>
					<th>enteredDt</th>
					<th>activeYn</th>
				</tr>
				<tr>
					<td>productId1</td>
					<td>노트북1</td>
					<td>brandId1</td>
					<td>10000</td>
					<td>2500</td>
					<td>오늘일자</td>
					<td>1000</td>
					<td>11000</td>
					<td>브랜드1</td>
					<td>오늘일자</td>
					<td>Y</td>
				</tr>
			</table>
		
	 -->

	<h3>Get Map</h3>
	<input type="button" id="answer" value="get Map" />
	
	<div id="result">
	
	</div>

</body>
</html>