<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Reply List</title>
</head>
<body>

	<p align="right">
		<th:block th:if="${session.adminId != null}">
			<a th:href="@{/admin/main}">(공통)관리화면으로 이동</a> 
			<a th:href="@{/admin/signOut}">로그아웃</a>
		</th:block>
	</p>

	<div align="center">
		<h2>커뮤니티 댓글 리스트</h2>
		<table border="1">
			<tr align="center">
				<th>번호</th>
				<th>게시글 ID</th>
				<th>유저 ID</th>
				<th>댓글 ID</th>
				<th>댓글</th>
				<th>작성일</th>
			</tr>
			<tr align="center" th:each="replyDTO : ${replyList}">
				<td th:text="${replyDTOStat.count}"></td>
				<td th:text="${replyDTO.postId}"></td>
				<td th:text="${replyDTO.userId}"></td>
				<td th:text="${replyDTO.replyId}"></td>
				<td th:text="${replyDTO.content}"></td>
				<td th:text="${#dates.format(replyDTO.enrollAt , 'yyyy-MM-dd')}"></td>
			</tr>
		</table>
	</div>
	
</body>
</html>