<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Daily New User Count</title>
</head>
<body>

	
	<p align="right">
		<th:block th:if="${session.adminId != null}">
			<a th:href="@{/admin/main}">(공통)관리화면으로 이동</a> 
			<a th:href="@{/admin/signOut}">로그아웃</a>
		</th:block>
	</p>

	<div align="center">
		<h2>일자별 신규 유저 조회</h2>
		<table border="1">
			<tr align="center">
				<th>번호</th>
				<th>일자</th>
				<th>유저수</th>
			</tr>
			<tr align="center" th:each="dailyNewUserMap : ${dailyNewUserCntMap}">
				<td th:text="${dailyNewUserMapStat.count}"></td>
				<td th:text="${dailyNewUserMap.day}"></td>
				<td th:text="${dailyNewUserMap.userCnt}"></td>
			</tr>
		</table>
	</div>
	
</body>
</html>