<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
	   	  <tr>
	   	  	<th>productNm</th>
	   	  	<th>price</th>
	   	  	<th>addTax</th>
	   	  	<th>totalPrice</th>
	   	  	<th>brandNm</th>
	   	  </tr>
	   	  <tr th:each="productMap :${productMapList}">
	   	  		<td th:text="${productMap.productNm}"></td>
	   	  		<td th:text="${productMap.price}"></td>
	   	  		<td th:text="${productMap.addTax}"></td>
	   	  		<td th:text="${productMap.totalPrice}"></td>
	   	  		<td th:text="${productMap.brandNm}"></td>
	   	  </tr>
	</table>
</body>
</html>