<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
	   	  <tr>
	   	  	<th>productId</th>
	   	  	<th>productNm</th>
	   	  	<th>price</th>
	   	  	<th>deliveryPrice</th>
	   	  </tr>
	   	  <tr th:each="productDTO : ${productList}">
	   	  	<td th:id="|productId${productDTOStat.count}|" 
	   	  	th:name="|productId${productDTOStat.count}|"
	   	  	th:text="${productDTO.productId}"></td>
	   	  	<td th:id="|productNm${productDTOStat.count}|"
	   	  	th:name="|productNm${productDTOStat.count}|"
	   	  	th:text="${productDTO.productNm}"></td>
	   	  	<td th:id="|price${productDTOStat.count}|"
	   	  	th:name="|price${productDTOStat.count}|"
	   	  	th:text="${productDTO.price}"></td>
	   	  	<td th:id="|deliveryPrice${productDTO.count}|"
	   	  	th:name="|deliveryPrice${productDTO.count}|"
	   	  	th:text="${productDTO.deliveryPrice}"></td>
	   	  </tr>
	</table>
</body>
</html>