<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>
</head>
<body>

	<h1 th:text="|${session.role}권한 메인화면 입니다.|"></h1>
	<p><a th:href="@{/auth/login}">로그인</a></p>
	<p><a th:href="@{/auth/logout}">로그아웃</a></p>
	<hr/>
	
	<h3>유저 권한 화면 입니다.</h3>
	<p><a th:href="@{/user/menu1}">유저메뉴1</a></p>
	<p><a th:href="@{/user/menu2}">유저메뉴2</a></p>
	<p><a th:href="@{/user/menu3}">유저메뉴3</a></p>
	<p><a th:href="@{/post/menu1}">게시글메뉴1</a></p>
	<p><a th:href="@{/post/menu2}">게시글메뉴2</a></p>
	<p><a th:href="@{/post/menu3}">게시글메뉴3</a></p>
	<hr/>
	
	<h3>관리자 권한 화면 입니다.</h3>
	<p><a th:href="@{/admin/menu1}">관리자메뉴1</a></p>
	<p><a th:href="@{/admin/menu2}">관리자메뉴2</a></p>
	<p><a th:href="@{/admin/menu3}">관리자메뉴3</a></p>
	<p><a th:href="@{/management/menu1}">관리메뉴1</a></p>
	<p><a th:href="@{/management/menu2}">관리메뉴2</a></p>
	<p><a th:href="@{/management/menu3}">관리메뉴3</a></p>
	
</body>
</html>