<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace로 dao! -->
<mapper namespace="com.application.trainingVer1.board.dao.BoardDAO">
	
	<insert id="createBoard" parameterType="BoardDTO">
		INSERT INTO BOARD (
			PASSWD ,
			WRITER ,
			SUBJECT ,
			CONTENT
		)
		VALUES      (
			#{passwd} ,
			#{writer} ,
			#{subject} ,
			#{content}
		)
	</insert>
</mapper>